# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
.vscode
.idea
.envrc

# Build
build
dist

# Testing
/coverage.*.txt
/data
__pycache__
*.pyc
coverage.txt
/coverage

# Others
frontend/node_modules
frontend/dist
frontend/.cache
**/*.bak

# Pystarport
/bot.yaml
/bot.*.yaml
/config.yaml
pystarport/tendermint
pystarport/proto_python/confio
pystarport/proto_python/cosmos
pystarport/proto_python/cosmos_proto
pystarport/proto_python/gogoproto
pystarport/proto_python/google
pystarport/proto_python/tendermint
