jobs:
  - label: Transfer Test    # arbitrary label 
    type: transfer          # support transfer, delegate and withdraw_all_rewards
    node: 0                 # index of the node in the cluster where the `from account` is created.
                            # Can be skipped if connecting to a non-cluster node
    from_account: launch    # from account (should be pre-created in the node data folder)
    to_address: cro19zyg34kkrllfqvtumsu3jacg9lgf6lw22xsqye 
    amount: 1cro
    interval: 5             # job interval in second
  - label: Delegation Test
    type: delegate
    node: 0
    from_account: launch
    to_validator_address: cro19zyg34kkrllfqvtumsu3jacg9lgf6lw22xsqye
    random_amount: [1, 2, "cro"]    # random amount
    random_interval: [60, 120]      # random job interval in second
  - label: Withdraw All Rewards Test
    type: withdraw_all_rewards
    node: 0
    from_account: txbot_staking
    random_interval: [60, 120]