ica-controller-1:
  validators:
    - coins: 10cro
      staked: 10cro
      base_port: 26650
    - coins: 10cro
      staked: 10cro
  accounts:
    - name: relayer
      coins: 100cro
    - name: signer
      coins: 200cro
  genesis:
    app_state:
      interchainaccounts:
        host_genesis_state:
          params:
            allow_messages: ["/cosmos.bank.v1beta1.MsgSend"]
ica-host-1:
  validators:
    - coins: 10cro
      staked: 10cro
      base_port: 26750
    - coins: 10cro
      staked: 10cro
      base_port: 26760
  accounts:
    - name: relayer
      coins: 100cro
    - name: signer
      coins: 200cro
  genesis:
    app_state:
      interchainaccounts:
        host_genesis_state:
          params:
            allow_messages: ["/cosmos.bank.v1beta1.MsgSend"]
relayer: {}
