name: Go Nancy

on:
    pull_request:
    push:
      branches:
        - master
        - release/**
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: WriteGoList
      run: go list -json -m all > go.list
    - name: Nancy
      uses: sonatype-nexus-community/nancy-github-action@main
      # FIXME: https://github.com/crypto-com/chain-main/issues/25 remove exclusion when viper+tendermint are upgraded
      with:
        nancyCommand: sleuth --exclude-vulnerability CVE-2020-15115,CVE-2020-15136,CVE-2020-15114