name: BuildWin

on:
  pull_request:
  merge_group:
  push:
    branches:
      - master
      - release/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build For Windows
    runs-on: windows-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.22
      - name: Normal check out code
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set GOBIN
        run: |
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      - name: Build For Windows
        shell: pwsh
        run: |
          echo "Working Folder $Env:GITHUB_WORKSPACE"
          & "$env:GITHUB_WORKSPACE/makewin.bat"
