name: codecov

on:
  pull_request:
  push:
    branches:
      - master
      - release/**

jobs:
  codecov:
    name: codecov
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.3
      - uses: actions/checkout@v3
        with:
          submodules: true
      - id: changed-files
        uses: tj-actions/changed-files@v41
        with:
          files: |
            **/*.go
            go.mod
            go.sum
      - name: test
        run: COVERAGE=coverage.txt make test
        if: steps.changed-files.outputs.any_changed == 'true'

      # - name: Upload coverage report
      #   uses: codecov/codecov-action@v3
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     file: ./coverage.txt
      #     flags: unittests
      #     fail_ci_if_error: true
