name: goreleasermac

on:
  push:
    branches:
      - "release/*"
    tags:
      - "v*.*.*"

jobs:
  goreleaser:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '12.0'          
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.16.1'
      - name: setup release environment
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release -f ./.goreleasermac.yml --rm-dist --skip-validate   
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      