name: Lint
on:
  pull_request:
  merge_group:
  push:
    branches:
      - master
      - release/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  golangci:
    name: golangci-lint
    runs-on: macos-latest
    timeout-minutes: 120
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: '1.22.7'
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@6a9a9e84a173d90b3ffb42c5ddaf9ea033fad011 #v23
        with:
          nix_path: nixpkgs=channel:nixos-22.11
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
        with:
          files: |
            **/*.go
            *.mod
            *.sum
      - name: golangci-lint
        run: |
          nix profile install -f ./nix golangci-lint
          nix profile install -f ./nix rocksdb
          export PKG_CONFIG_PATH=$HOME/.nix-profile/lib/pkgconfig
          export CGO_CFLAGS="$(pkg-config --cflags rocksdb)" CGO_LDFLAGS="$(pkg-config --libs rocksdb)"
          golangci-lint version

          BUILD_TAGS=rocksdb,grocksdb_clean_link
          go build -tags $BUILD_TAGS ./cmd/chain-maind
          golangci-lint run --fix --out-format=github-actions --path-prefix=./ --timeout 30m --build-tags $BUILD_TAGS
        # Check only if there are differences in the source code
        if: steps.changed-files.outputs.any_changed == 'true'
      - name: check working directory is clean
        id: changes
        run: |
          set +e
          (git diff --no-ext-diff --exit-code)
          echo "changed=$?" >> $GITHUB_OUTPUT
      - if: steps.changes.outputs.changed == 1
        run: echo "Working directory is dirty" && exit 1