name: Lint
on:
  pull_request:
  merge_group:
  push:
    branches:
      - master
      - release/**
jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    timeout-minutes: 6
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.20.3
      - uses: actions/checkout@v3
        with:
          submodules: true
      - id: changed-files
        uses: tj-actions/changed-files@v41
        with:
          files: |
            **/*.go
            go.mod
            go.sum
      - uses: golangci/golangci-lint-action@v3
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.51
          args: --timeout 10m
          github-token: ${{ secrets.github_token }}
        if: steps.changed-files.outputs.any_changed == 'true'
