name: release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    environment: release
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@d1ca217b388ee87b2507a9a93bf01368bde7cec2 # v31.1.0
        with:
          nix_path: nixpkgs=channel:nixos-22.11
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: crypto-com
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"

      - name: build binaries
        env:
          NETWORK: mainnet
        run: |
          # install sha256sum
          nix-env -i coreutils -f '<nixpkgs>'

          # build binaries
          ./scripts/release.sh

          # update checksum and upload
          sha256sum *.tar.gz > "checksums.txt"
          echo 'FILES<<EOF' >> $GITHUB_ENV
          ls -1 *.tar.gz >> $GITHUB_ENV
          echo "checksums.txt" >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV
          cat $GITHUB_ENV
      - name: upload binaries
        uses: softprops/action-gh-release@c95fe1489396fe8a9eb87c0abf8aa5b2ef267fda # v2.2.1
        with:
          draft: true
          files: "${{ env.FILES }}"

  release-macos:
    # runs sequentially to avoid creating duplicated release
    needs: ["release"]
    strategy:
      matrix:
        runner: [macos-latest, macos-14]
    runs-on: ${{ matrix.runner }}
    environment: release
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@d1ca217b388ee87b2507a9a93bf01368bde7cec2 # v31.1.0
        with:
          nix_path: nixpkgs=channel:nixos-22.11
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: apple-actions/import-codesign-certs@cfd6eb39a2c848ead8836bda6b56813585404ba7 # v5.0.0
        with:
          p12-file-base64: ${{ secrets.MAC_CODE_SIGN_CERT }}
          p12-password: ${{ secrets.MAC_CODE_SIGN_CERT_PASS }}
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: crypto-com
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
      - name: build binaries
        env:
          MAC_CODE_API_KEY: ${{ secrets.MAC_CODE_API_KEY }}
          MAC_CODE_API_KEY_ID: ${{ secrets.MAC_CODE_API_KEY_ID }}
          MAC_CODE_API_ISSUER_ID: ${{ secrets.MAC_CODE_API_ISSUER_ID }}
          MAC_CODE_API_DEVELOPER_ID: ${{ secrets.MAC_CODE_API_DEVELOPER_ID }}
          NETWORK: mainnet
        run: |
          # install sha256sum
          nix-env -i coreutils -f '<nixpkgs>'

          # build binaries
          ./scripts/release.sh

          # codesign
          for tarball in *.tar.gz;
          do
            ./scripts/codesign_macos.sh $tarball
            mv signed.tar.gz $tarball
          done

          # update checksum and upload
          CHKFILE="checksums-darwin-$(uname -p).txt"
          sha256sum *.tar.gz > "$CHKFILE"
          echo 'FILES<<EOF' >> $GITHUB_ENV
          ls -1 *.tar.gz >> $GITHUB_ENV
          echo "$CHKFILE" >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV
          cat $GITHUB_ENV
      - name: upload binaries
        uses: softprops/action-gh-release@c95fe1489396fe8a9eb87c0abf8aa5b2ef267fda # v2.2.1
        with:
          draft: true
          files: "${{ env.FILES }}"
