name: Staticmajor
on:
  pull_request:
  merge_group:
  push:
    branches:
      - master
      - release/**

jobs:
  run_staticmajor:
    name: Scan for resource leaks
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set up Go 1.23
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.0'
      - name: Staticmajor action
        id: staticmajor
        uses: orijtech/staticmajor-action@d5117dc38bb2af109904bcc59976cdab33ab488b # main
        with:
            packages: ./...
            resleak: true
            structslop: false
            tests: false